#fizz{
    background-color: red;
    color: white;
}
#buzz{
    background-color: blue;
    color: white;
}
#fizzBuzz{
    background-color: brown;
    color: white;
}
#fizzNumber{
    background-color: cadetblue;
    color: white;
}