#fizz{
    background-color: red;
    color: white;
}
#buzz{
    background-color: blue;
    color: rgb(255, 136, 0);
}
#fizzBuzz{
    background-color: brown;
    color: greenyellow;
}
#fizzNumber{
    background-color: cadetblue;
    color: chartreuse;
}